<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/homepage.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

    <script type="text/javascript" {{ url_for('static', filename='homepage.js')}}></script>
    <script type="text/javascript">
        codelist_terms = {{ codelist_terms|tojson }}
    </script>

    <title>Homepage</title>
</head>

<body>
    <div id="top"> </div>

    <form action="" method="post">
    <div class="ui form" id="form">
        <div class="two fields" id="fields">
            <div class="field">
                <label>Start date <span>*</span></label>
                <div class="ui calendar" id="rangestart">
                    <div class="ui input left icon" id="left_field">
                        <i class="calendar icon"></i>
                        <input type="text" placeholder="Start" name="start_date" value="{{ request.form.start_date }}" required>
                    </div>
                </div>
            </div>

            <div class="field">
                <label>End date <span>*</span></label>
                <div class="ui calendar" id="rangeend">
                    <div class="ui input left icon" id="right_field">
                        <i class="calendar icon"></i>
                        <input type="text" placeholder="End" name="end_date" value="{{ request.form.end_date }}" required>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="code_dropdown">
        <label><b>Choose a codelist</b> <span>*</span></label>
        <div>
            <select class="js-example-basic-single" id="codelist" name="codelist" value="{{ request.form.codelist }}" onChange="changeterm(this.value);" required>
                <option value="" disabled selected></option>
                {% for codelist, name in list_of_codes %}
                    <option type="text" name="codelist" value="{{ codelist }}"> {{codelist}} - {{name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>


    <div id="term_dropdown">
        <label><b>Choose a term</b></label>
        <div>
            <select class="js-example-basic-single" id="terms" name="terms" value="{{ request.form.terms }}">
                    <option type="text" name="terms" value="" disabled selected></option>
            </select>
        </div>
    </div>

    <input id="submit" type="submit" value="Submit" style="display: block; margin: 0 auto;">
    </form>

    <br>

    {% if submitted %}
        <div id="visuals">
            {% if term_empty is sameas false %}
                <div id="term_visual">
                    <h1> Visualization of Change(s) from Term: {{ term }} </h1>

                    <div id="term_changes"></div>
                    <script type="text/javascript">
                        // create an array with nodes
                        var nodes = new vis.DataSet(JSON.parse('{{ term_nodes|safe }}'));

                        // create an array with edges
                        var edges = new vis.DataSet(JSON.parse('{{ term_edges|safe }}'));

                        // create a network
                        var container = document.getElementById('term_changes');

                        // provide the data in the vis format
                        var data = {
                            nodes: nodes,
                            edges: edges
                        };
                        var options = JSON.parse('{{ term_options|safe }}');

                        // initialize your network!
                        var network1 = new vis.Network(container, data, options);
                        network1.on("click", function (params) {
                              // Check if you clicked on a node; if so, display the title (if any) in a popup
                              network1.interactionHandler._checkShowPopup(params.pointer.DOM);
                            });
                    </script>

                    <div id="term_info">
                        <p class="info_text"> <b> Codelist: </b> {{ term_current[0][0] }}</p>
                        <p class="info_text"> <b> Definition: </b> {{ term_current[0][4] }}</p>
                        <p class="info_text"> <b> Synonym(s): </b> {{ term_current[0][3] }}</p>
                        <p class="info_text"> <b> Creation Date: </b> {{ term_activeDates[0][0] }} </p>
                        <p class="info_text"> <b> Deprecation Date: </b> {{ term_activeDates[0][1] }} </p>
                        <p class="info_text"> <b> Submission Value: </b> {{ term_current[0][2] }}</p>
                        <p class="info_text"> <b> NCI Preferred Term: </b> {{ term_activeDates[0][5] }}</p>
                    </div>
                </div>
            {% endif %}

            <div id="code_visual">
                <h1>  Visualization of Change(s) from Codelist: {{ codelist }} </h1>

                <div id="code_changes"></div>
                <script type="text/javascript">
                    // create an array with nodes
                    var nodes = new vis.DataSet(JSON.parse('{{ CL_nodes|safe }}'));

                    // create an array with edges
                    var edges = new vis.DataSet(JSON.parse('{{ CL_edges|safe }}'));

                    // create a network
                    var container = document.getElementById('code_changes');

                    // provide the data in the vis format
                    var data = {
                        nodes: nodes,
                        edges: edges
                    };
                    var options = JSON.parse('{{ CL_options|safe }}');

                    // initialize your network!
                    var network = new vis.Network(container, data, options);
                    network.on("click", function (params) {
                          // Check if you clicked on a node; if so, display the title (if any) in a popup
                          network.interactionHandler._checkShowPopup(params.pointer.DOM);
                        });
                </script>

                <div id="code_info">
                    <p class="info_text"> <b> Name: </b> {{ CL_current[0][2] }}</p>
                    <p class="info_text"> <b> Definition: </b> {{ CL_current[0][5] }}</p>
                    <p class="info_text"> <b> Synonym(s): </b> {{ CL_current[0][4] }}</p>
                    <p class="info_text"> <b> Extensible?: </b> {{ CL_current[0][1] }}</p>
                    <p class="info_text"> <b> Creation Date: </b>  {{ CL_activeDates[0][0] }} </p>
                    <p class="info_text"> <b> Deprecation Date: </b> {{ CL_activeDates[0][1] }} </p>
                    <p class="info_text"> <b> Submission Value: </b> {{ CL_current[0][3] }}</p>
                    <p class="info_text"> <b> NCI Preferred Term: </b> {{ CL_activeDates[0][6] }}</p>
                </div>
            </div>
        </div>
    {% endif %}

    <br>

    <script src="../static/javascript/homepage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
</body>

</html>